<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">

<div class="homepage">
    <br />
   <h1>Summit Grounds Garden Store</h1>
  <div class="leftside">
    <p>About the Company</p>
<p>
        For centuries humanity has been cultivating flora in gardens for both practical and aesthestic use.
        From Zen Gardens of Eastern Culture, to perfectly manicured Western sanctuaries, to your backyard
        where you grow Sunflowers and Tomatoes, Summit Grounds Garden Store is here for you. With a wide variety
        of flora acquired from all around the world Summit Grounds is ready, willing and able to suit your every garden need.
        Established in the Summer of 2018, we have been industry leaders in both commercial and residential markets. Our highly
        trained and personable staff is excited to make your garden dreams come to life!</p>
  </div>
  <div class="middle">
    <img class="logoimage" src='../../assets/logo.jpg'>
    <br />
    <br />
    <b routerLink="/about">About Tyler</b>
    <br />
    <br />
    <img class="tylerimage" src='../../assets/tyler.jpg'>
  </div>
  <div class="rightside">
    <br />
      <b routerLink="/products">CHECKOUT THE PRODUCTS</b>
   </div>
   <h2 routerLink="/login">Employee???</h2>
</div>